header {
  max-width: 1200px;
  height: 60px; /* Unidade px está correta aqui */
  margin-top: 40px;
  display: flex;
  align-items: center;
  padding: 20px 40px;
  background: #fff;
  box-shadow: 0 2px 4px 0 #0000000d; /* Removi as unidades desnecessárias no 0 */
  justify-content: space-evenly;
  border: 1px solid #00acdc;
  margin-left: auto;
  margin-right: auto;
}

header img {
  max-height: 50px;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

nav a[href='#apple'],
nav a[href='#laptops'] {
  color: #00acdc;
}

a:hover {
  border-bottom: 2px solid #00acdc;
}
